01_reverse_no
02_palindrome
03_no_occurence
04_sum_of_ends
05_contain_zero
06_sum_till_zero
07_no_positive
08_no_pos_neg
09_largest_no
10_smallest_no
11_two_power
12_no_times_div_two
13_multiple_seven
14_prime
15_no_of_factors
16_sum_of_factors
17_perfect_no
18_gcd
19_febonacci
20_mulank_no
